#card-shadow {
    box-shadow: 7px 7px 20px black;
<<<<<<< HEAD
}

.f-item {
    color: aqua;
    padding: 10px;
    font-size: 20px;
=======
>>>>>>> parent of 0d70beb (Added a footer text and styled it in css)
}